body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-image: linear-gradient(rgb(2, 2, 36),rgb(8, 8, 95));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0%;
    margin-top: 70px;
    padding-bottom: 20px;
  }
  
  .resultado{
    padding-bottom: 20px;
  }

  h1 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.829);
  }
  #resultado {
    font-size: 27px;
    color: #910000;
    margin-top: 20px;
    ;
  }


  section {
    padding-top: 20vh;
    padding-bottom: 20vh;
    line-height: 2em;
    padding-left: 10px;
    padding-right: 10px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    color: white;
}

section.normal {
    background-color: rgba(68, 16, 16, 0);
    color: rgba(255, 255, 255, 0.829);
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(2, 2, 36),rgb(8, 8, 95));
}

section.normal2 {
    color: rgba(255, 255, 255, 0.829);
    text-align: center;
    font-size: 1.5em;
    font-size: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgb(2, 2, 36),rgb(8, 8, 95));
}

section.imagem {
 
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-attachment: fixed;
    height: 20vh;
}

section#img01 {
    background-image: url(fotos/20250330_170254.jpg);
    background-position: top;
    background-size: cover;

}

section#img02 {
    background-image: url(fotos/IMG-20250316-WA0014.jpg);
    background-size: cover;
    background-position: center top;
}

section#img03 {
    background-image: url(fotos/IMG-20250419-WA0028.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section#img04 {
    background-image: url(fotos/IMG-20250419-WA0044.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#img05 {
    background-image: url(fotos/IMG-20250420-WA0009\(1\).jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
section#img06 {
  background-image: url(fotos/IMG-20250422-WA0096.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#img07 {
  background-image: url(fotos/IMG-20241210-WA0009.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#img08 {
  background-image: url(fotos/IMG-20250422-WA0106.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#img09 {
  background-image: url(fotos/IMG-20250422-WA0077.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
section#img10 {
  background-image: url(fotos/IMG-20250209-WA0024.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

